@model Domain.ViewModels.Product.AddCommentViewModel
@{
    ViewData["Title"] = "AddComment";
    var imageName = ViewBag.DefaultImage as string;
}

<div class="ui-box bg-white product-detail-container mb-5">
    <form method="post" asp-controller="Product" asp-action="AddComment">
    <div class="ui-box-content">
        <div class="row mb-3">
            <div class="col-lg-4 mb-lg-0 mb-4">
                <!-- start of product-gallery -->
                <div class="product-gallery">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/images/img/@imageName" alt="">
                        </div>
                    </div>
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" asp-for="ParentId"/>
                    
                </div>
                <!-- end of product-gallery -->
            </div>
            <div class="col-lg-8 mb-4">
                <!-- start of product-detail -->
                <h2 class="product-title">
                    گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم کارت ظرفیت 128
                    گیگابایت و رم 4 گیگابایت
                </h2>
                <div class="product-en mb-3">
                    <span>Apple iPhone 13 A2634 Dual SIM 128GB And 4GB RAM Mobile Phone</span>
                </div>
                <!-- start of comments-product-attributes -->
                <div class="comments-product-attributes px-3">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">کیفیت ساخت</div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex19" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">
                                ارزش خرید به نسبت قیمت
                            </div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex20" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">نوآوری</div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex21" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">امکانات و قابلیت ها</div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex22" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">سهولت استفاده</div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex23" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                        <div class="col-lg-6 mb-3">
                            <!-- start of product-attribute -->
                            <div class="comments-product-attributes-title">طراحی و ظاهر</div>
                            <div class="slider slider-horizontal slider-rtl" id="" style="margin-bottom: 25px;"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection tick-slider-selection" style="right: 0%; width: 50%;"></div><div class="slider-track-high" style="left: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top hide" role="presentation" style="right: 50%;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top hide" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max hide top" role="presentation" style=""><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-tick-label-container" style="margin-right: -33.25px;"><div class="slider-tick-label label-in-selection" style="width: 66.5px;">خیلی بد</div><div class="slider-tick-label label-in-selection" style="width: 66.5px;">بد</div><div class="slider-tick-label label-in-selection label-is-selection" style="width: 66.5px;">معمولی</div><div class="slider-tick-label" style="width: 66.5px;">خوب</div><div class="slider-tick-label" style="width: 66.5px;">عالی</div></div><div class="slider-tick-container"><div class="slider-tick round in-selection" style="right: 0%;"></div><div class="slider-tick round in-selection" style="right: 25%;"></div><div class="slider-tick round in-selection" style="right: 50%;"></div><div class="slider-tick round" style="right: 75%;"></div><div class="slider-tick round" style="right: 100%;"></div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="right: 50%;"></div><div class="slider-handle max-slider-handle round hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="right: 0%;"></div></div><input id="ex24" type="text" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;خیلی بد&quot;, &quot;بد&quot;, &quot;معمولی&quot;,&quot;خوب&quot;,&quot;عالی&quot;]" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-tooltip="hide" data-value="3" value="3" style="display: none;">
                            <!-- end of product-attribute -->
                        </div>
                    </div>
                </div>
                <!-- end of comments-product-attributes -->
                <!-- end of product-detail -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-md-0 mb-4">
                <form action="#" class="add-comment-product">
                    <!-- start of form-element -->
                   
                    <!-- end of form-element -->
                    <!-- start of form-element -->
                    <!-- end of form-element -->
                    <!-- start of form-element -->
                    <!-- end of form-element -->
                    <!-- start of form-element -->
                    <div class="form-element-row mb-3">
                        <label class="label">متن نظر شما (اجباری)</label>
                        <textarea rows="5" asp-for="Comment" class="form-control" placeholder="متن نظر خود را بنویسید.."></textarea>
                    </div>
                    <!-- end of form-element -->
                    <div class="text-end mb-3">
                        <button class="btn btn-primary">ثبت نظر <i class="ri-send-plane-fill ms-2"></i></button>
                    </div>
                </form>
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <div class="my-2">
                        با “ثبت نظر” موافقت خود را با <a href="#" class="link">قوانین انتشار نظرات</a>
                        در سایت اعلام می‌کنم.
                    </div>
                    <div class="my-2">
                        <a href="#" class="link">انصراف و بازگشت</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="fs-5 fw-bold text-dark mb-3">
                    دیگران را با نوشتن نظرات خود، برای انتخاب این محصول راهنمایی کنید.
                </div>
                <div class="fs-7 fw-bold text-info mb-3">
                    لطفا پیش از ارسال نظر، خلاصه قوانین زیر را مطالعه کنید:
                </div>
                <ul class="ps-4 text-secondary">
                    <li class="mb-3">
                        لازم است محتوای ارسالی منطبق برعرف و شئونات جامعه و با بیانی رسمی و
                        عاری از لحن
                        تند، تمسخرو توهین باشد.
                    </li>
                    <li class="mb-3">
                        از ارسال لینک‌های سایت‌های دیگر و ارایه‌ی اطلاعات شخصی خودتان مثل
                        شماره تماس،
                        ایمیل و آی‌دی شبکه‌های اجتماعی پرهیز کنید.
                    </li>
                    <li class="mb-3">
                        در نظر داشته باشید هدف نهایی از ارائه‌ی نظر درباره‌ی کالا ارائه‌ی
                        اطلاعات مشخص و
                        دقیق برای راهنمایی سایر کاربران در فرآیند خرید یک محصول توسط ایشان است.
                    </li>
                    <li class="mb-3">
                        با توجه به ساختار بخش نظرات، از پرسیدن سوال یا درخواست راهنمایی در
                        این بخش
                        خودداری کرده و سوالات خود را در بخش «پرسش و پاسخ» مطرح کنید.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </form>
</div>

