

<ul class="mail-list">

    <li class="list-item unread">
        <div class="item-check">
            <label>
                <input type="checkbox">
                <span class="text"></span>
            </label>
        </div>
        <div class="item-star">
            <a href="#" class="">
                <i class="fa fa-star-o"></i>
            </a>
        </div>
        <div class="item-sender">
            <a href="message-view.html" class="col-name">Bing</a>
        </div>
        <div class="item-subject">
            <span class="label label-palegreen">Business</span>
            <a href="message-view.html">
                Your Bing Newsletter: The May Issue
            </a>
        </div>
        <div class="item-options">
            <a href="message-view.html"><i class="fa fa-paperclip"></i></a>
        </div>
        <div class="item-time">
            Today, 13:52
        </div>
    </li>

</ul>