@model Tuple<int,int>
<div class="comment">

    <div class="comment-footer">

        <span class="glyphicon glyphicon-thumbs-up">@Model.Item1</span>
        <button class="comment-dislike">@Model.Item2</button>
    </div>
</div>